name: CD - Deploy to Docker Hub

on:
  workflow_run:
    workflows:
      - CI Workflow Back
      - CI Workflow Front
    types:
      - completed

jobs:
  deploy:
    name: Build & Push Docker Images
    runs-on: ubuntu-latest

    if: >
      ${{ github.event.workflow_run.conclusion == 'success' &&
          github.event.workflow_run.head_branch == 'main' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./back
          file: ./back/Dockerfile
          push: true
          tags: loutchanow/bobapp-back

      - name: Build & Push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./front
          file: ./front/Dockerfile
          push: true
          tags: loutchanow/bobapp-front
