name: CD - Deploy to Docker Hub

on:
  workflow_run:
    workflows: ['CI Workflow Back', 'CI Workflow Front']
    types: [completed]
    branches: [main]

jobs:
  build-and-push:
    name: Build & Push Docker Images
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Backend
      - name: Build & Push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./back
          file: ./back/Dockerfile
          push: true
          tags: loutchanow/bobapp-back

      # Frontend
      - name: Build & Push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./front
          file: ./front/Dockerfile
          push: true
          tags: loutchanow/bobapp-front
